@font-face {
    font-family: 'camptonlight';
    src: url(asset-path('fonts/campton_light-webfont.woff2')) format('woff2'),
         url(asset-path('fonts/campton_light-webfont.woff')) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'camptonsemibold';
    src: url(asset-path('fonts/campton_semibold-webfont.woff2')) format('woff2'),
         url(asset-path('fonts/campton_semibold-webfont.woff')) format('woff');
    font-weight: normal;
    font-style: normal;

}

/* variables & mixings */

$header-height: 60px;
$base-blue: rgb(11, 89, 186);
$base-black: rgb(0, 0, 0);
$base-white: rgb(255, 255, 255);
$base-red: #760936;
$bg-image: "bg-arcade.gif";
$man-of-steel: radial-gradient(circle at 91.81% 15.2%, #780206, transparent 76%),radial-gradient(circle at 12.56% 15.45%, #001a57, transparent 100%),radial-gradient(circle at 56.63% 84.18%, #ee00ff, transparent 100%),radial-gradient(circle at 50% 50%, #ff1100, #ff1100 100%);
$man-of-steel-trans: radial-gradient(circle at 91.81% 15.2%, rgba(120, 2, 6, 0.45), transparent 76%), radial-gradient(circle at 12.56% 15.45%, rgba(0, 26, 87, 0.4), transparent 100%), radial-gradient(circle at 56.63% 84.18%, rgba(238, 0, 255, 0.3), transparent 100%), radial-gradient(circle at 50% 50%, rgba(255,17,0,0.4), #363636 100%);

@mixin body-font {
  font: {
    family: 'camptonlight', 'Helvetica Neue', Arial, sans-serif;
    weight: 300;
    style: normal;
  };
}

@mixin sans-serif-thin {
  font: {
    family: 'camptonlight', Arial , sans-serif;
    weight: 300;
    style: normal;
  };
}

@mixin sans-serif {
  font: {
    family: 'camptonsemibold', Arial , sans-serif;
    style: normal;
  };
}

@mixin transition {
  transition: all .3s ease-in-out;
}
