.social-sharing {
  font-size: 18px;
}

.social-share-button a {
  width: 38px;
	height: 38px;
	display: inline-block;
}

.social-share-button-facebook {
	background: image_url("icon_facebook.png") center no-repeat #fff !important;
}

.social-share-button-twitter {
	background: image_url("icon_twitter.png") center no-repeat #fff !important;
}

.social-share-button-pinterest {
	background: image_url("icon_pinterest.png") center no-repeat #fff !important;
}

.social-share-button-google_plus {
	background: image_url("icon_google.png") center no-repeat #fff !important;
}
