<span class="tooltip-content">
  <span class="textarea">Ewondo is a Bantu language with about half a million speakers in Cameroon. Ewondo has about 100,000 native speakers in and around the capital of Cameroon, Yaunde (Yaoundé), and a further 470,000 or so second language speakers in southern Cameroon, where it serves as a lingua franca.<br>
<a href="http://www.omniglot.com/writing/ewondo.php" target="_blank">More</a></span>
</span>