 <footer class="footer clearfix">
  <div class="footer-content">
    <nav class="footer-nav" role="navigation">
      <ul>
        <li><%= mail_to "frank@etoundi.com", "Email", bcc: "frank.etoundi@gmail.com" %></li>
        <li><a href="https://twitter.com/etoundi_1er" target="_blank" title="Frank Etoundi on Twitter">Twitter</a></li>   
        <li><a href="https://www.linkedin.com/in/franketoundi" target="_blank" title="Frank Etoundi on Linkedin">Linkedin</a></li>   
        <li><a href="https://www.behance.net/franketoundi" target="_blank" title="Frank Etoundi on Behance">Behance</a></li>  
      </ul>
    </nav> 
    <p class="copyright">© 2010 - <%= Time.now.year %>. Handcrafted by Frank Etoundi</p>
  </div>
</footer>