<span class="tooltip-content">
  <span class="image"></span>
  <span class="textarea">Born in 1991 in <a href="https://en.wikipedia.org/wiki/Yaound%C3%A9" target="_blank" title="Capital of Cameroon">Yaoundé</a>. I spent my early years in Ebang Mengong (a village 25km from Yaoundé).<br> 
  Aside from designing and coding, I have lifelong hands-on experience as farmer, carpenter and builder. 
  <br><a href="/about">Read more</a></span>
</span>
