<header class="site-header clearfix">
    <div class="header-wrapper">
        <div class="site-logo">
            <a href="/">
                <%= image_tag("logo-sprite.png", class: "logo", alt: "Logo") %>
            </a>
        </div>
        <div class="site-title">
            <a href="/" alt="Product Designer & Web Developer"><h1>Frank Etoundi</h1></a>
        </div>
    	
        <div class="menu-toggle" id="open-button">
            <div id="nav-icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
        </div>
    </div>
</header>